build/
out/
bin/
Debug/
Release/
x64/
Win32/

CMakeFiles/
CMakeCache.txt
cmake_install.cmake
*.cmake
!CMakeLists.txt

.vs/
.vscode/*
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
.idea/
*.swp
*.swo

*.slo
*.lo
*.o
*.obj

*.gch
*.pch

*.so
*.dylib
*.dll

*.lai
*.la
*.a
*.lib

*.exe
*.out
*.app

*.pro.user
*.pro.user.*
*.qmake.stash
moc_*.cpp
qrc_*.cpp
ui_*.h
*.qm
.qmake.cache
.qmake.stash

vcpkg_installed/
.vcpkg/

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db